{{define "logout"}}
<!doctype html>
<html translate="no">
	<head>
		{{template "head"}}
		<title>Autohoster logout</title>
	</head>
	<body>
		{{template "NavPanel" . }}
		<div class="px-4 py-5 my-5 text-center">
			<div class="alert alert-success" role="alert">
				Logged out. Cookie was cleard. Session destroyed.
			</div>
		</div>
	</body>
</html>
{{end}}